mixin tile(props)
	-var {title, description} = props
	.implementation-option__tile.industrial-tile
		.implementation-option__tile-title=title
		.implementation-option__tile-description=description
		a(href="/implementation").implementation-option__tile-link.btn.btn_white Начать обсуждение

mixin option(props)
	-var {title, tiles, background} = props
	.implementation-option.industrial-tile-option
		h2.industrial-tile-option__title.title.title_white=title
		.implementation-option__content.wrapper__inner
			.implementation-option__tiles
				-for(var tile of tiles)
					+tile({
						title: tile.title,
						description: tile.description
					})
		case background
			when 'real-estate'
				img.industrial-tile-option__image(src=require(`../../components/industrial-tiles-big/industrial-tiles-real-estate.png`))
			when 'production'
				img.industrial-tile-option__image(src=require(`../../components/industrial-tiles-big/industrial-tiles-production.png`))
			when 'learning'
				img.industrial-tile-option__image(src=require(`../../components/industrial-tiles-big/industrial-tiles-learning.png`))

section.implementation-options.implementation-options_big.wrapper
	.implementation-options-wrapper
		+option({
			title: 'vr для недвижимости',
			background: 'real-estate',
			tiles: [
				{
					title: 'Вариант 1 / Презентация объекта',
					description: 'Эффектная и качественная презентация объекта любой сложности благодаря виртуальной реальности. Возможность визуализации как небольших объектов, так и целых кварталов. Наши решения позволяют не только прогуляться по объекту, но и взаимодействовать с окружающими предметами. Например, вы сможете полноценно прогуляться по жилому кварталу.'
				},
				{
					title: 'Вариант 2 / Дизайн интерьера',
					description: 'Решения Sintez Event позволяют создавать и менять любой интерьер. Пользователь может не только осмотреть интерьер, но и самостоятельно изменять его и даже создавать с нуля. Для работы с данными приложениями не нужно специальных навыков – все просто и понятно.'
				}
			]
		})
		+option({
			title: 'vr для Производства',
			background: 'production',
			tiles: [
				{
					title: 'Вариант 1 / Прототипирование',
					description: 'Создаем прототипы продуктов любых размеров и уровня сложности. Благодаря виртуальной и дополненной реальности появляется возможность полноценно изучить продукт и начать его доработку еще до создания первого физического прототипа.'
				},
				{
					title: 'Вариант 2 / Моделирование ситуаций',
					description: 'Предлагаем использование современных технологий для отработки различных ситуаций на производстве. Мы предлагаем не только готовые решения, но и полноценное создание уникальной разработки под конкретные задачи вашего бизнеса.'
				}
			]
		})
		+option({
			title: 'vr для Обучения',
			background: 'learning',
			tiles: [
				{
					title: 'Вариант 1 / Обучение персонала',
					description: 'Благодаря эффекту погружения, виртуальная и дополненная реальность позволяет полноценно обучать персонал и моделировать различные ситуации, связанный с определенной деятельностью. Доказав свою эффективность, обучение с VR/AR уже активно внедряется в крупнейших компаниях в России.'
				},
				{
					title: 'Вариант 2 / Для детей',
					description: 'Современные технологии позволяют совмещать обучение с игрой, при этом совершенно на новом уровне. Посетить самые интересные музеи мира, теперь можно не выходя из дома. VR/AR захватывает внимание, делая обучение интересным и увлекательным.'
				}
			]
		})