mixin tile(props)
	-var {title, description, time, additional} = props
	.implementation-option__tile
		.implementation-option__tile-title=title
		.implementation-option__tile-description=description
		.implementation-option__tile-summary
			.implementation-option__tile-summary-item
				+svgIco({
					id: 'timer',
					className: 'implementation-option__tile-summary-item-icon'
				})
				.implementation-option__tile-summary-item-content=time
			.implementation-option__tile-summary-item
				+svgIco({
					id: 'lamp',
					className: 'implementation-option__tile-summary-item-icon'
				})
				.implementation-option__tile-summary-item-content Дополнительно:
					ul.implementation-option__tile-summary-item-content-list
						-for(var additionalItem of additional)
							li.implementation-option__tile-summary-item-content-list-item=additionalItem
		a(href="/implementation").implementation-option__tile-link.btn.btn_white.implementation-option__desktop-link Начать обсуждение

mixin option(props)
	-var {title, background, tiles} = props
	.implementation-option
		img.implementation-option__image(src=require(`../../components/implementation-options/implementation-option-${background}.png`))
		.implementation-option__content.wrapper__inner
			.implementation-option__title=title
			.implementation-option__tiles
				-for(var tile of tiles)
					+tile(tile)
				a(href="/implementation").implementation-option__tile-link.btn.btn_white.implementation-option__mobile-link Начать обсуждение

section.implementation-options.wrapper
	.implementation-options__wrapper-inner.wrapper__inner
		h2.title.title_light Варианты воплощений
	.implementation-options-wrapper
		+option({
			title: 'VR для презентаций / демонстрации продукта',
			background: '1',
			tiles: [
				{
					title: 'Вариант 1 / На скорость',
					description: 'Использовать готовый ролик 360° или адаптировать обычный под VR-показ. После чего проводится сессия VR-кинотеатра на аудиторию от 30 до 100 человек с синхронным показом в очках виртуальной реальности. Или презентация демонстрируется индивидуально каждому, кто пришёл на стенд компании.',
					time: '3-5 дней',
					additional: [
						'Брендирование шлемов'
					]
				},
				{
					title: 'Вариант 2 / Большой проект',
					description: 'В виртуальной реальности моделируется объекты или сцены, которые необходимо продемонстрировать. Здесь мы не ограничены форматом видео: в 3D воссоздаётся мир, с которым зритель может взаимодействовать. В таком варианте вы сможете самостоятельно ходить, исследовать и влиять на предметы. Демонстрация сможет происходить как для группы людей, так и индивидуально.',
					time: 'От 3-х недель',
					additional: [
						'Создание полноценного симулятора',
						'Внутреннее брендирование',
						'Одновременное создание доп. контента'
					]
				}
			]
		})
		+option({
			title: 'VR для развлечений',
			background: '2',
			tiles: [
				{
					title: 'Вариант 1 / На скорость',
					description: 'Самые популярные аттракционы в виртуальной реальности: соло-игры, командные и чемпионаты. Это могут быть визуальные приключения, стрелялки, гонки на спорт-карах, спортивные игры, щекотание нервов и реалити-квесты (только в VR). Это самый популярный способ провести время с виртуальной реальностью, и на нашем оборудовании предусмотрено более 1000 различных активностей.',
					time: '1 день',
					additional: [
						'1-10 игроков одновременно',
						'Тематический подбор игр',
						'Дополнительный реквизит'
					]
				},
				{
					title: 'Вариант 2 / Большой проект',
					description: 'Игра разрабатывается индивидуально. Она может быть целиком построена на идее компании заказчика, симулируя процесса, используя реальных людей в качестве персонажей, а может быть просто отвлечённым развлечением. Опять же - по тем параметрам, что будут заданы. После создания игры, прорабатываются эффекты “в реальности”, которые будут испытывать игроки: взаимодействие с предметами, ветер, звуки, обстановка, костюмы.',
					time: 'От 4-х недель',
					additional: [
						'Адаптация к реальной площадке',
						'Мультиплеер',
						'Актёры-аниматоры'
					]
				}
			]
		})
		+option({
			title: 'VR для продаж',
			background: '1',
			tiles: [
				{
					title: 'Вариант 1 / На скорость',
					description: 'Это презентация продукта, в которой клиент погружается в заранее подготовленный ролик и слушает рассказ, записанный диктором или реальным менеджером. Преимущество перед простой демонстрацией на экране - человек полностью погружается в происходящее, не отвлекаясь ни на что. И здесь он точно не сможет думать о чём-то своём, не обращая внимание на презентацию!',
					time: '3-5 дней',
					additional: [
						'Брендирование шлемов',
						'Индивидуальные или групповые презентации'
					]
				},
				{
					title: 'Вариант 2 / Большой проект',
					description: 'Самый эффективный вариант продажи – протестировать продукт. Если вы владеете отелем - пусть ваш клиент пройдёт по нему, спустится к пляжу, увидит закат и бор вокруг. Риелтор может провести покупателя по квартире, которую ещё не построили. Дизайн-студии позволят вам перебрать все возможные цвета для новых обоев, диванов, переставить несколько раз всю мебель. По сути, это конструктор, созданный специально для вас на основе реальных мест, продуктов и их возможностей.',
					time: 'Более 4-х недель',
					additional: [
						'Постоянное расширение возможностей приложения',
						'Совмещение с дополненной реальностью',
						'Использование как симулятора для персонала'
					]
				}
			]
		})
		+option({
			title: 'Дополненная реальность',
			background: '2',
			tiles: [
				{
					title: 'Вариант 1 / На скорость',
					description: 'Флаеры, постеры, книги, сувенирная продукция, которая может оживать: вы наводите смартфон на определённое место на ней, и объект оживает на экране. Так, рядом с постером фильма может появиться его главный герой, а на брошюре с ноутбуками раскроются все эти ноутбуки, которые можно будет рассмотреть со всех сторон.',
					time: '2-3 недели',
					additional: [
						'Брендирование',
						'Дизайн и изготовление физической продукции'
					]
				},
				{
					title: 'Вариант 2 / Большой проект',
					description: 'На объект в реальности накладывается виртуальный. Благодаря этому вы можете примерите на себя платья, посмотрите на свою будущую квартиру, даже подобрать цвет лака для ногтей. 3D-моделирование на экране компьютера с эти не сравнится, вы можете полноценно увидеть, как это будет смотреть в реальности.',
					time: 'Более 4-х недель',
					additional: [
						'Комплексных подход: AR-приложение, интеграция с сервисами',
						'Брендированная продукция'
					]
				}
			]
		})