mixin tiles(props)
	-var {tiles} = props
	.industrial-tiles__wrapper
		-for(var tile of tiles)
			-var {title, id, image} = tile
			.industrial-tiles__tile
				.industrial-tiles__tile-content
					.industrial-tiles__tile-icon-wrapper
						+svgIco({
							id: id,
							className: 'industrial-tiles__tile-icon'
						})
					.industrial-tiles__tile-title !{title}
				img.industrial-tiles__tile__image(src=require(`../../components/${image}`))

mixin industrialTiles(props)
	-var {title, className} = props
	section.industrial-tiles.wrapper(class={'padding-top': title, 'industrial-tiles_with-title': title} class=className||'')
		if(title)
			.wrapper__inner
				h2.title=title
		+tiles(props)