mixin sectionWithExamples(props)
	-var {examples, title} = props
	section.our-examples.wrapper.padding-bottom
		h2.title=title
		.our-examples-wrapper
			-for(var example of examples)
				-var {exampleTitle, descriptionItems, summaryItemLeft, summaryItemRight} = example
				.our-examples__item
					.our-examples__image-wrapper
						img.our-examples__image(src=require(`../../components/our-examples/for-marketing-example.png`))
					.our-examples__content
						.our-examples__title=exampleTitle
						.our-examples__description
							-for(var descriptionItem of descriptionItems)
								p.our-examples__description-item !{descriptionItem}
						.our-examples__summary
							.our-examples__summary-item
								+svgIco({
									id: 'timer',
									className: 'our-examples__summary-item-icon'
								})
								.our-examples__summary-item-content !{summaryItemLeft}
							.our-examples__summary-item
								+svgIco({
									id: 'lamp',
									className: 'our-examples__summary-item-icon'
								})
								.our-examples__summary-item-content !{summaryItemRight}
						a.btn.btn_white.our-examples__desktop-link(href="/example") Узнать больше
						a.link.our-examples__mobile-link(href="/example") Узнать больше